<mat-card class="app-mapinfo mat-elevation-z0">
  <mat-card class="app-mapinfo__card">
    <mat-grid-list
      cols="5"
      rowHeight="5:1"
      *ngFor="let i of mapInfo?.map"
      gutterSize="0"
    >
      <mat-grid-tile
        rowspan="5"
        *ngFor="let j of i"
        [style.background-color]="
          j === 0 ? 'rgba(33,150,243 ,1)' : 'rgba(251,192,45 ,1)'
        "
      ></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <div class="app-mapinfo__text">
    Islands:<b> {{ mapInfo?.islands }}</b>
  </div>
</mat-card>
